<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwm.notes.mapper.NoteMapper">
<select id="allNotes" resultMap="notes-map">
    select * from notes
    <where>
        <if test="title!=null and title!=''">
            and title like concat('%',concat(#{title},'%'))
        </if>
    </where>

</select>
    <resultMap id="notes-map" type="Note">
        <id column="id" property="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="time" column="date"/>
    </resultMap>
</mapper>